html{
    position:relative;
    min-height:100%;
}
body{
    margin-bottom:90px;
}
.container{
    padding:60px 0 0 0;
}
.padded{
    padding-top:20px;
}
.footer{
    margin-top:20px;
    background-color:#f5f5f5;
    color:black;
}
.special-font{
    font-family: 'Shrikhand', cursive;
}