<div ng-if="vm.errorMessage" class="row text-center">
    <div class="col-xs-12">
        <h1>{{vm.errorMessage}}</h1>
    </div>    
</div>

<div ng-if="!vm.errorMessage" class="row text-center">
    <div ng-if="!vm.alreadyVoted">
        <div class="col-xs-12">
            <h1>{{vm.poll.title}}</h1>
        </div> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="list-group">
              <button ng-click="vm.vote($index)" type="button" class="list-group-item" ng-repeat="option in vm.poll.options track by $index">{{option.option}}</button>
            </div>
        </div>
    </div>
    <div ng-if="vm.alreadyVoted" class="col-md-8 col-md-offset-2 col-xs-12">
        <div id="chart_div"></div>
    </div>
    <div ng-show="vm.isMyPoll" class="row">
        <div class="col-md-12 padded">
            <button ng-click="vm.deletePoll()" class="btn btn-lg btn-danger">Delete</button>
            <button class="btn btn-lg btn-default">Edit</button>
        </div>    
    </div>
</div>
